*.txt
!requirements.txt
query_db.py
aws_creds.conf

/test/tests_archive.py
/test/__pycache__
.flaskappvenv

/flaskapp/__pycache__
/flaskapp/site.db

/flaskapp/main/__pycache__
/flaskapp/images/__pycache__
/flaskapp/users/__pycache__

/.pytest_cache