{% extends "layout.html" %}
{% block content %}
<h1>Welcome to the Image Saver App!</h1>
<hr>
{% if current_user.is_authenticated %}
<p class="gen"> Great to see you {{ current_user.username }}! </p>
<p class="gen"> You are currently logged in. From the navigation bar above, you have the following options:</p>
  <ul>
    <li class="gen">View, download or delete your images</li>
    <li class="gen">Upload an image</li>
    <li class="gen">Update your username or email</li>
  </ul>

{% else %}
<p class="gen"> This app allows you to save your images into your own personalized gallery.</p>
<p class="gen">To create your own gallery, you first have to 
  <a href="{{ url_for('users.register') }}">register</a> and create your account.</p>
<p class="gen">If you already have an account, then you can <a href="{{ url_for('users.login') }}">log in</a>.</p>
{% endif%}
{% endblock content %}