{% extends "layout.html" %}
{% block content %}
    
    <!--    <h2>{{ current_user.id }}</h2>
    <h2>{{ current_user.username }}</h2>


 <img src="https://image-saver-app.s3.amazonaws.com/c8f85618f60bf4ae.jpg" style="width: 250px">
{% for image in images %}
<img src="{{ image.s3_path }}" style="width: 250px">
{% endfor %}
    -->

<div class="container">
        <div class="col-lg-12">
            <h1 class="page-header">Images Gallery</h1>
        </div>
        <hr>
    <div class="row">
        {% for image in images %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <img class="gallery" src="{{ image.s3_path }}" width="250: px">
            <a href="{{ url_for('image', image_id=image.id) }}">View Image</a>
        </div>
        {% endfor %}
    </div>
</div>


{%  endblock content %}